.container {
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    width: 280px;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    background: rgb(217, 210, 197);
    border-radius: 5px;
}

.checkbox {
    margin-right: 8px;
}

.delete {
  width: 22px;
  height: 22px;
  border: none;
  margin-left: 10px;
  background-image: url('../../assets/trash.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  transition: background 0.5s linear;
  filter: invert(63%) sepia(18%) saturate(452%) hue-rotate(260deg) brightness(86%) contrast(91%);
  cursor: pointer;
  transition: 0.3s;

}

.edit {
  width: 22px;
  height: 22px;
  border: none;
  background-image: url('../../assets/edit.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  transition: background 0.5s linear;
  filter: invert(63%) sepia(18%) saturate(452%) hue-rotate(260deg) brightness(86%) contrast(91%);
  cursor: pointer;
  transition: 0.3s;

}


.edit:hover {
  filter: invert(33%) sepia(18%) saturate(42%) hue-rotate(260deg) brightness(86%) contrast(91%);
}

.delete:hover {
  filter: invert(33%) sepia(18%) saturate(42%) hue-rotate(260deg) brightness(86%) contrast(91%);
}

.container_btns {
    display: flex;
}

.completed_bg {
    background-color: rgb(176, 212, 176);
}

.text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.completed_text {
  text-decoration: line-through;
}