.container {
  display: flex;
  justify-content: space-between;
  max-width: 650px;
  width: 280px;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
  background: rgb(217, 210, 197);
  border-radius: 5px;
}

.checkbox {
  margin-right: 8px;
}

.delete {
  width: 22px;
  height: 22px;
  border: none;
  margin-left: 8px;
  background-image: url('../../assets/trash.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  filter: invert(63%) sepia(18%) saturate(452%) hue-rotate(260deg) brightness(86%) contrast(91%);
  cursor: pointer;
  transition: 0.3s;
}

.edit {
  width: 22px;
  height: 22px;
  border: none;
  background-image: url('../../assets/pen.svg');
  margin-left: 10px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  filter: invert(63%) sepia(18%) saturate(452%) hue-rotate(260deg) brightness(86%) contrast(91%);
  cursor: pointer;
  transition: 0.3s;
}

.progress {
  width: 22px;
  height: 22px;
  border: none;
  background-image: url('../../assets/clock.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  filter: invert(63%) sepia(18%) saturate(452%) hue-rotate(260deg) brightness(86%) contrast(91%);
  cursor: pointer;
  transition: 0.3s;
}

.progress:hover,
.progress.active {
  filter: invert(38%) sepia(94%) saturate(374%) hue-rotate(157deg) brightness(105%) contrast(97%);
}

.edit:hover {
  filter: invert(33%) sepia(18%) saturate(42%) hue-rotate(260deg) brightness(86%) contrast(91%);
}

.delete:hover {
  filter: invert(13%) sepia(65%) saturate(4443%) hue-rotate(350deg) brightness(115%) contrast(86%);
}

.container_btns {
  display: flex;
}

.completed_bg {
  background-color: rgb(176, 212, 176);
}

.progress_bg {
  background-color: rgb(139 199 225);
}

.text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.completed_text {
  text-decoration: line-through;
}
