body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(235, 236, 214);
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    /* width: 80%; */
    color: black;
    font-size: 18px;
    padding: 20px;
}

.container_add {
    display: flex;
    width: 70%;
    /* min-width: 250px; */
    justify-content: space-between;
    margin-bottom: 25px;

}

.area_container {
    display: flex;
}

.todo_area {
    width: 300px;
    background: white;
}