body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(235, 236, 214);
}

.container {
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 18px;
    padding: 20px;
}
